
<div class="w3-row-padding">
    <div class="w3-half">
        <label for="preg" class="rem">Producto:</label>
        <input class="w3-input w3-border" type="text" id="preg" name="producto[nombre]" value="<%= producto.nombre %>" placeholder="Nombre" required /> <p>
    </div>

    <div class="w3-half">
        <label for="resp">Precio:</label>
        <input class="w3-input w3-border" type="text" id="resp" name="producto[precio]" value="<%= producto.precio %>" placeholder="Precio" required /> <p>
    </div>
</div>

<div class="w3-row-padding">
    <div class="w3-bar">
        <input class="w3-button w3-green" type="submit" value="Guardar" />
        <a href="/productos"><button class="w3-button w3-red" type="button">Cancelar</button></a>
    </div>
</div>
