
<script>
   function confirmPassword() {
      var pw1 = document.getElementById('user_password').value;
      var pw2 = document.getElementById('user_confirm_password').value;
      if (!pw1 || !pw2) {
         alert('Debe rellenar los campos de Password y Confirmación.');
         return false;
      }
      if (pw1 === pw2) {
         return true;
      } else {
         alert('Los passwords introducidos no coinciden.');
         return false;
      }
   }
</script>

<div class="w3-row-padding">
    <div class="w3-half">
        <label for="preg" class="rem">Username:</label>
    <% if ( ! user.id) { %>
        <input class="w3-input w3-border" type="text" id="username" name="user[username]" value="<%= user.username %>" /><p>
    <% } else { %>
        <input class="w3-input w3-border" type="text" id="username" name="user[username]" value="<%= user.username %>" readonly /><p>
    <% } %>
    </div>

    <div class="w3-half">
        <div><p></div>
    </div>
</div>

<div class="w3-row-padding">
    <div class="w3-half">
        <label for="user_password" class="rem">Password:</label>
        <input class="w3-input w3-border" type="password" id="user_password" name="user[password]"/> <p>
    </div>

    <div class="w3-half">
        <label for="user_confirm_password" class="rem">Confirmar Password:</label>
        <input class="w3-input w3-border" type="password" id="user_confirm_password" /> <p>
    </div>
</div>

<div class="w3-row-padding">
    <div class="w3-bar">
        <input class="w3-button w3-green" type="submit" value="Guardar" onclick="return confirmPassword()">
        <a href="/users"><button class="w3-button w3-red" type="button">Cancelar</button></a>
    </div>
</div>
