

<h1>Hola</h1>

<p>EL precio a pagar es: <strong><%= precio %> </strong></p>
<br/>
<p>La url que tienes que poner en tu dispositivo es:  "<%= url %>"</p>

<br/>


<canvas id="canvas" style="width:100px; height:100px; margin: 0 auto; padding: 1em 3em; "></canvas>

<% if ( url ) {%>

<input type="button" name="miboton" id="miboton" value="QR" onclick="miFuncion()" />

<script type="text/javascript">
  function miFuncion() {
    alert('Se va a generar el QR con la url');
    qrcodelib.toCanvas(document.getElementById('canvas'),  "<%= url %>" ,
     function (error) {
    if (error){ console.error(error)}
      else{
    console.log('success!');}
  })

  }
</script>

<%}%>

<script type="text/javascript">
  qrcodelib.toCanvas(document.getElementById('canvas'),'Estamos procesando tu pago', function (error) {
    if (error) console.error(error)
    console.log('success!');
  })
</script>
